<!DOCTYPE html>
<!-- 문서타입 -->
<html lang="en">
<!-- 휴먼랭귀지 -->
    <head>
        <meta charset="utf-8"> <!-- 문자셋 -->
        <title>Hello Vraptor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script> -->
        <!-- Socket -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/socket.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div class="top-view">
                <div class="logo">
                    <h1>V-Raptor</h1>
                </div>
                <!-- (bk) 이 부분 추가했음 누르면 계정 수정하는 페이지로 redirect 하게끔 -->
                <div class="account">
                    <a href="/account/update">{{ session["user_id"] }}</a>
                </div>
                <div class="logout">
                    <a href="/account/logout">Logout</a>
                </div>
                <div id="node_1_temp"></div>
                    <div class="dim-layer">
                        <div class="dimBg"></div>
                        <div id="layer2" class="pop-layer">
                            <div class="pop-container">
                                <div class="pop-conts">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </header> <!-- 첫머리 -->
        <nav>
            <!-- sidebar 고려중... 화면이 좁아졌을경우나 모바일 환경에서 sidebar를 이용해 원하는 위치로 이동이 가능하게 만들까..? -->
        </nav> <!-- 메뉴 -->
        <article>
            <div class="wrapper">
                <div class="fan_control">
                    <div class="fan_status">
                        <button id="set_fan_mode_btn">Set Fan Mode (fan_auto_switch: true)</button>
                        <input id="fan_default_temperature"/>
                        <div id="current_status"></div>
                        <div class="first_fan">
                            First_fan
                            <canvas id="myChart0"></canvas>

                            <div class="set_fan_speed">

                            </div>
                            <div class="ex_fan">
                                <p id="first_fan_speed"></p>
                            </div>
                        </div>
                        <div class="second_fan">
                            Second_fan
                            <canvas id="myChart1"></canvas>
                        </div>
                        <div class="third_fan">
                            Third_fan
                            <canvas id="myChart2"></canvas>
                        </div>
                        <div class="fourth_fan">
                            Fourth_fan
                            <canvas id="myChart3"></canvas>
                        </div>
                    </div>
                </div>
                <div class="status">
                    <div class="nodes">
                        <!-- <button id="node_1" onclick="console_click()" class="console_choice"> -->
                        <button onclick="node_change2()" class="power_button">Node1</button>
                        <button onclick="node_change()" class="power_button">Node2</button>
                        <button class="monitor" id="monitor_1">monitor</button>
                        <button class="secure" id="secure_1">secure</button>
                        <div class="node111">
                            <p>Node1</p>
                            <div id="node_pow0"></div>
                            <button class="node_pow_reset" id="nodePowerReset_0">POWER RESET</button>
                            <button class="node_pow_off" id="nodePowerOff_0">POWER OFF</button>
                            <button class="node_pow_on" id="nodePowerOn_0">POWER ON</button>
                            <div class="node_1_terminal">
                                <div class="console">
                                    <div class="console_content">
                                        <div id="example">
                                        </div>
                                        <div class="commandline">
                                            <div class="console_input" style="background: gray; position:relative; bottom: 0px;">
                                                <input autofocus class="console_input_class" id="console_input_id" style="width: 100%; height: 20px; position:relative; bottom: -205px; background: gray; color: white; "/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="node1test">
                        </div>
                        <div class="node222">
                            <p>Node2</p>
                            <div id="node_pow1"></div>
                            <button class="node_pow_reset" id="nodePowerReset_1">POWER RESET</button>
                            <button class="node_pow_off" id="nodePowerOff_1">POWER OFF</button>
                            <button class="node_pow_on" id="nodePowerOn_1">POWER ON</button>
                            <div class="node_1_terminal">
                                <div class="console">
                                    <div class="console_content">
                                        <div id="example2">
                                        </div>
                                        <div class="commandline">
                                            <div class="console_input" style="background: gray; position:relative; bottom: 0px;">
                                                <input autofocus class="console_input_class" id="console_input_id2" style="width: 100%; height: 20px; position:relative; bottom: -205px; background: gray; color: white; "/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article> <!-- 본문 -->
        <footer>
            <div class="madeby">
                <div class="madeby_inner">
                    캡스톤디자인 팀 : 김명수, 강석현, 이충익, 정병길, 최준호
                </div>
            </div>
        </footer> <!-- 끝머리 -->
    </body>
</html>
